body {
    background: linear-gradient(#d36666, #7078cc);
    overflow: hidden;
}
.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.clock-face {
    position: relative;
    width: 300px;
    height: 300px;
    border: 16px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.hand {
    height: 6px;
    width: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.27, 1.62, 0.58, 1);
}
 .second-hand {
    transform: rotate(calc(90deg + 20deg)); /*include the base 90 deg!*/
} 
